/* .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.card{
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.card p {
  font-size: 0.9em;
  color: #333;
} */